.thumbnail img{
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.image{
    height: 200px; 
    width: 240px;
}

.thumbnail .caption-full{
    padding: 9px;
}

.delete-form{
    display: inline;
}

.item{
    width: 400px;
}

